[tool.black]
line-length = 120

[tool.isort]
profile = "black"

[tool.pydoclint]
style = "numpy"
check-arg-order = false
require-return-section-when-returning-nothing = false
quiet = true

[tool.mypy]
files = "src"
strict = true
ignore_missing_imports = true
namespace_packages = true
explicit_package_bases = true
disallow_untyped_defs = true
warn_return_any = true
warn_unused_ignores = true
show_error_codes = true
