black
certifi==2024.7.4
chardet==4.0.0
colorama==0.4.4
commentjson==0.9.0
coverage==5.4
deepmerge==1.1.0
flake8==5.0.0
idna==3.7
importlib-metadata==3.6.0;python_version<"3.8"
isort
jsonschema==4.17.3
lxml==4.9.3
maturin
mccabe==0.7.0
nose2==0.10.0
pycodestyle==2.9.0
pydocstyle==5.1.1
pydoclint==0.5.3
pyfakefs
pyflakes==2.5.0
pylama==7.7.1
pytest==7.1.2
python-decouple==3.4
PyYAML==6.0.1
requests==2.32.0
six==1.15.0
snowballstemmer==2.1.0
typing-extensions==4.0.1
Unidecode==1.2.0
urllib3==1.26.19
wheel
zipp==3.4.0
-e ./src/core[secrets]
-e ./src/secrets
-e ./src/zos_console
-e ./src/zos_files
-e ./src/zos_jobs
-e ./src/zos_tso
-e ./src/zosmf

