commentjson==0.9.0
deepmerge==1.1.0
jsonschema==4.17.3
PyYAML==6.0.1
requests==2.32.0

# Dev deps
setuptools
black
coverage
isort
maturin
pydoclint
pydocstyle
pyfakefs
pylint
pytest
wheel

# Local deps
-e ./src/core[secrets]
-e ./src/secrets
-e ./src/zos_console
-e ./src/zos_files
-e ./src/zos_jobs
-e ./src/zos_tso
-e ./src/zosmf
