deepmerge==1.1.0
json5==0.12.1
jsonschema==4.25.1
PyYAML==6.0.1
requests==2.32.4

# Dev deps
setuptools
black
coverage
isort
maturin
pydoclint
pydocstyle
pyfakefs
pylint==3
pytest
wheel
python-dotenv

# Local deps
-e ./src/core[secrets]
-e ./src/secrets
-e ./src/zos_console
-e ./src/zos_files
-e ./src/zos_jobs
-e ./src/zos_tso
-e ./src/zosmf
-e ./src/workflows
